/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  background-color: #222; /* Dark background */
  color: #fff; /* Light text */
  line-height: 1.6;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 10px;
}

/* Heading Styles */
h1 {
  text-align: center;
  margin: 2rem 0 4rem 0;
  font-size: 2.5rem;
  color: #ff4081;
}

/* Checkbox Styles */
.region-checkboxes {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 20px;
}

.region-checkboxes input[type="checkbox"] {
  margin-right: 5px;
}

.region-checkboxes label {
  font-size: 16px;
}

/* Button Styles */
button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

/* Accordion Styles */
.accordion {
  max-width: 800px;
  width: 90%;
  background-color: #333;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #444;
  cursor: pointer;
  background-color: #444;
  color: #fff;
  transition: background-color 0.3s ease;
}

.accordion-title:hover {
  background-color: #555;
}

.accordion-content {
  padding: 1rem 50px;
  text-align: start;
}
